<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container calculator-container">
        <div class="card">
            <div class="card-header custom-card-header">
                <h2 class="card-title">Калькулятор</h2>
            </div>
            <div class="card-body">
                <form id="calc-form">
                    <div class="form-group">
                        <label for="expression" class="custom-label">Введите выражение:</label>
                        <input type="text" class="form-control custom-input" id="expression" name="expression" placeholder="Например: 3+6/2" required>
                    </div>
                    <button type="submit" class="btn custom-btn">Рассчитать</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3>Результат:</h3>
                <h4 id="result" class="result"></h4>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>